body {
    background-color: rgb(249, 224, 176);
}
.bubu {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(88, 50, 6);
    margin: 20px;
    line-height:0px;
}
h3 {
    font-size:25px;
}
h4 {
    font-size:25px;
}
h5 {
    font-size:25px;
}